.Greeting {
    text-align: center;
}

.Landing-Page-Container {
    text-align: center;
}

.Featured-Items-Container {
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.Featured-Title {
    margin-bottom: 10px;
}

.Featured-Items-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.Featured-Items-List li {
    width: 20%;
    margin-bottom: 20px;
}

.All-Items-List {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
}

.All-Items-List li {
    margin-bottom: 20px;
    background-color: #e6e6e6;
}

.All-Items-List li a {
    text-decoration: none;
}

.mainpic {
    width: 100%;
    max-width: 20rem;
    height: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 15px;
    border: solid 5px lightgray;
}

.price-landing {
    margin-top: 5px;
    font-weight: bold;
    text-decoration: none;
}

.landing-name {
    text-decoration: none;
}

.Redirect_ItemId {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    font-weight: 800;
}

.MyPage-items{
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
}
