.landing-page-whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: 0 auto;
}

.Landing-Page-Container {
    text-align: center;
    width: 100%;
}

.Greeting {
    text-align: center;
    padding-top: 1rem;
}

.Featured-Items-Container {
    border-radius: 5px;
    margin-bottom: 20px;
    padding-top: 5px;
}

.Featured-Title {
    margin-bottom: 10px;
}

.Featured-Items-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-right: 20px;
    margin-left: 15px;
}

.Featured-Items-List li {
    width: 18.5%;
    height: 27rem;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.Featured-Items-List li:hover {
    transform: scale(1.1);
}

.All-Items-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-right: 20px;
    margin-left: 15px;
}

.All-Items-List li {
    width: 18.5%;
    height: 27rem;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.All-Items-List li:hover {
    transform: scale(1.1);
}

.All-Items-List li a {
    text-decoration: none;
}

.mainpic {
    width: 100%;
    max-width: 20rem;
    height: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 15px;
    border: solid 2px lightgray;
}

.price-landing {
    margin-top: 5px;
    font-weight: bold;
    text-decoration: none;
}

.landing-name {
    text-decoration: none;
}

.Redirect_ItemId {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    font-weight: 800;
}

.MyPage-items {
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
}
