@media (max-width: 1999px) {
    .item-details {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 1rem;
        background-color: white;
    }

    .main-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 20px;
        /* padding-left: 5rem; */
        border-radius: 10px;
        border: solid black 3px
    }

    .default-image {
        width: 40rem;
        height: 42rem;
    }

    .small-img {
        height: 10rem;
        width: 10rem;
        padding-left: 10rem;
        border-radius: 10px;
        /* border: solid black 3px */
    }

    .small-img:hover {
        cursor: pointer;
    }

    .Info {
        padding-right: 10rem;
        padding-left: 3rem;
    }

    .name {
        padding-top: 3rem;
        font-size: 2.5rem;
        font-weight: 800;
    }

    .description-title {
        padding-top: 2rem;
        font-size: 1rem;
        font-weight: 800;
        width: 30rem;
    }

    .price {
        padding-top: 2rem;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .description {
        padding-top: 0.5rem;
        font-size: 1rem;
        width: 30rem;
    }

    .side-images {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .side-images img {
        margin-bottom: 10px;
    }

    .background-color {
        background-color: white;
        min-height: 100vh;
        height: 100%;
    }

    /* .reviews-container {
        margin-top: 3rem;
        border-top: 1px solid;
    }

    .reviews-title {
        margin-left: 10rem;
        margin-top: 1rem;
        font-size: 2.5rem;
        font-weight: 800;
    }

    .review-text {
        padding-left: 10rem;
        font-size: 1.3rem;
        margin-top: 1rem;
    }

    .review-star {
        padding-left: 10rem;
        font-size: 1.5rem;
        margin-top: 0.5rem;
    } */
    .reviews-container {
        margin-top: 3rem;
        border-top: 1px solid;
        /* Add fixed height and scroll overflow for reviews container */
        height: 600px;
        overflow-y: auto;
    }

    .reviews-title {
        margin-left: 10rem;
        margin-top: 1rem;
        font-size: 2.5rem;
        font-weight: 800;
    }

    .review-texts {
        padding-left: 10rem;
        font-size: 1.3rem;
        margin-top: 1rem;
        max-height: 300px;
        overflow: hidden;
        /* break words when they exceed the container's width */
        word-wrap: break-word;
    }

    /* width of review */
    .review-text {
        width: 100rem;
    }

    .id-reviewbutton-container {
        margin-left: 10rem;
        margin-top: 1rem;
    }

    .itemid-myitem{
        padding-top: 4rem;
    }
}

@media (min-width: 2000px) {
    .item-details {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 1rem;
        background-color: white;
    }

    .main-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 20px;
        /* padding-left: 5rem; */
        border-radius: 10px;
        border: solid black 3px
    }

    .default-image {
        width: 50rem;
        height: 50rem;
    }

    .small-img {
        height: 12rem;
        width: 12rem;
        margin-left: 10rem;
        border-radius: 10px;
        /* border: solid black 3px */
    }

    .small-img:hover {
        cursor: pointer;
    }

    .Info {
        margin-right: 10rem;
        margin-left: 3rem;
    }

    .name {
        padding-top: 6rem;
        font-size: 3rem;
        font-weight: 800;
    }

    .description-title {
        padding-top: 2rem;
        font-size: 1.5rem;
        font-weight: 800;
        width: 30rem;
    }

    .price {
        padding-top: 2rem;
        font-size: 2rem;
        font-weight: 800;
    }

    .description {
        padding-top: 0.5rem;
        font-size: 1.5rem;
        width: 30rem;
    }

    .side-images {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .side-images img {
        margin-bottom: 10px;
    }

    .background-color {
        /* background-color: white;
        min-height: 100vh;
        height: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        margin: 0 auto;
    }

    .reviews-container {
        margin-top: 3rem;
        border-top: 1px solid;
        width: 100%;
        /* Add fixed height and scroll overflow for reviews container */
        height: 600px;
        overflow-y: auto;
    }

    .reviews-title {
        margin-left: 5.5rem;
        margin-top: 1rem;
        font-size: 2.5rem;
        font-weight: 800;
    }

    .review-texts {
        padding-left: 5.5rem;
        font-size: 1.3rem;
        margin-top: 1rem;
        max-height: 300px;
        overflow: hidden;
        /* break words when they exceed the container's width */
        word-wrap: break-word;
    }

    /* width of review */
    .review-text {
        width: 100rem;
    }

    .id-reviewbutton-container {
        margin-left: 5.5rem;
        margin-top: 1rem;
    }

    .itemid-myitem{
        padding-top: 4rem;
    }
}
